<!DOCTYPE html> 
<html> 
  <head> 
      <title>Home Page</title> 
      <style type="text/css" media="screen"> 
          body { 
              background-color: skyblue; 
              text-decoration-color: white; 
              font-size:7em;  
          }
          .centered-p {
            text-align: center;
          }
      </style> 
  </head> 
  <body> 
      <p class="centered-p"> 
          This is our home page.<br/> 
          Welcome <%=name%>, to our home page. 
      </p> 
  </body> 
</html> 